
#topPage{
    background-color: #22313f;
    color: gold;
}
#homePage{
    height: 800px;
    margin: 0px;
    background-image: url("../image/background.jpg");
    background-size: 100% 100%;

}
.typesWidth{
    width: 5px;
}